body {
  background-color: #8aa7ec;
  background-image: linear-gradient(135deg, #cbbacc, #2580b3);
  margin: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}
