
*{
  box-sizing:border-box;
}

body {
  background-color: var(--ltblue);
  /* background-image: linear-gradient(to bottom, #cbbacc, #2580b3); */
  margin: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: wrap;
  justify-content: space-around;
}
a{
    display: block;
    border: solid 2px var(--black);
    border-radius: 2rem;
    margin: .5rem;
    padding: 1rem;
    background: #f1f1f1;
}

a:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div{
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;
}
#search{
  height:40px;
  margin-top:3%;
  margin-bottom:3%;
  padding:10px;
  font-size:16px;
  border:2px solid var(--black);
  width:220px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition:width 0.4s ease-in-out;
  background:#f1f1f1;
  float:left;
}
#search:focus{
  width:50%;
  outline:none;
}

button:focus + #search{
  width:50%;
  outline:none;
}

button{
  float:left;
  margin-top:3%;
  margin-bottom:3%;
  width:10%;
  height:40px;
  padding:10px;
  background:var(--black);
  color:white;
  font-size:17px;
  border:none;
  cursor:pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border:2px solid var(--black);
  border-left:none;
}
button:focus{
  outline:none;
}

button:hover{
    background:var(--blue)
}

div{
  order:-1;
  flex: 1 0 100%;
  overflow:hidden;
}
