:root {
  --white: #f1f1f1;
  --green: #c8de7c;
  --blue: #5bc4bf;
  --red: #f16a71;
  --black: #4d4d4d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Indie Flower";
  color: black;
  /* background-color: lightgray; */
  /* background-color: var(--blue); */
  background-image: radial-gradient(10rem 3rem, var(--green), var(--blue));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
}

#title {
  margin: auto;
}

header > a {
  display: flex;
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  height: 3.5rem;
  width: 3.5rem;
  margin: auto 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

main {
  display: block;
  margin-top: 4rem;
  /* Fixes weird collapsing margins */
  padding: 0.1px;
}
