:root {
  --ltblue: #96E4Df;
  --blue: #4DCCC6;
  --pink: #F2BAC9;
  --yellow: #f2E2BA;
  --green: #BAF2BB;
  --black: #4d4d4d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Indie Flower";
  color: white;
  /* background-color: lightgray; */
  /* background-color: var(--blue); */
  /* background-image: radial-gradient(10rem 3rem, var(--green), var(--blue)); */
  background-color:var(--ltblue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
}

#title {
  margin: auto;
}

header > a {
  display: flex;
  background-color: var(--pink);
  color: var(--black);
  text-decoration: none;
  height: 3.5rem;
  width: 3.5rem;
  margin: auto 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: solid var(--black) 2px;
  font-weight:bold;
}
header > a:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main {
  display: block;
  margin-top: 4rem;
  /* Fixes weird collapsing margins */
  padding: 0.1px;
}
