/* nav {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
} */

body {
  overflow: hidden;
  background-color: #8aa7ec;
  /* background-image: linear-gradient(45deg, #cbbacc, #2580b3); */
  /* background-image: linear-gradient(45deg, var(--green), var(--blue)); */
  /* background-image: radial-gradient(circle, var(--green), var(--blue)); */
    background-image: radial-gradient(circle, var(--ltblue), var(--blue));
  /* background-image: radial-gradient(circle, var(--blue), var(--green)); */
  /* background-image: radial-gradient(circle, var(--red), var(--black)); */
  /* background-image: linear-gradient(45deg, var(--blue), var(--green)); */
  height: 100%;
  margin: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body div {
  text-align: center;
  font-size: 60px;
  color: white;
  margin-top: 40px;
  font-family: "indie flower";
}

.menu-toggler {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.menu-toggler:hover + label,
.menu-toggler:hover + label:before,
/* .menu-toggler:hover + label:after { */
/*   background-color: white; */
/* } */

.menu-toggler:checked + label:before {
  content: "\f582";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 45px;
  color: white;
  height: 50px;
  width: 50px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background: transparent;
}

.menu-toggler:not(:checked) + label:before {
  content: "\f118";
  font-family: "Font Awesome 5 Free";
  color: white;
  font-size: 45px;
  height: 50px;
  width: 50px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background: transparent;
}

.menu-toggler:checked ~ ul .menu-item {
  opacity: 1;
}
.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  transform: rotate(0deg) translate(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  transform: rotate(72deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  transform: rotate(144deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  transform: rotate(216deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(5) {
  transform: rotate(288deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item a {
  pointer-events: auto;
}

.menu-toggler + label:before,
.menu-toggler + label:after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  position: absolute;
  display: block;
}
.menu-item:nth-child(1) a {
  transform: rotate(0deg);
}
.menu-item:nth-child(2) a {
  transform: rotate(-72deg);
}
.menu-item:nth-child(3) a {
  transform: rotate(-144deg);
}
.menu-item:nth-child(4) a {
  transform: rotate(-216deg);
}
.menu-item:nth-child(5) a {
  transform: rotate(-288deg);
}
.menu-item {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: 0.5s;
}
.menu-item a {
  display: block;
  width: 125px;
  height: 125px;
  margin: 100px;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(230, 230, 250, 0.3);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  pointer-events: none;
  transition: 0.2s;
  font-family: "Indie Flower";
  vertical-align: middle;
  line-height: 125px;
}

#progress {
  line-height: 50px;
}
.menu-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 26px;
}

/*
nav > a{
  background-color: var(--accent-color);
  margin: 1rem;
  padding: 2rem;
  text-decoration: none;
  opacity:.7;
}

label{
  width:100%;
  text-align:center;
  font-size:40px;
  font-family:'Indie Flower';
  color:#4d4d4d
}

#week{
  background-color: #e17274;
  width: 150px;
  height: 150px;
  font-family: 'Indie Flower';
  font-size: 25px;
  color: #4d4d4d;
  border-radius: 100%;
  padding: 2rem;
  text-decoration: none;
  text-align:center;
}

#friends{
  background-color: #e17274;
  width: 150px;
  height: 150px;
  font-family: 'Indie Flower';
  text-align:center;
  font-size: 25px;
  color: #4d4d4d;
  border-radius: 100%;
  padding: 2rem;
  text-decoration: none;

}

#explore{
  background-color:#77c2be;
  width: 150px;
  height: 150px;
  font-family: 'Indie Flower';
  text-align:center;
  font-size:25px;
  color: #4d4d4d;
  border-radius: 100%;
  padding: 2rem;
  text-decoration: none;
}

#resources{
  background-color:#e17274;
  width: 150px;
  height: 150px;
  font-family: 'Indie Flower';
  text-align:center;
  font-size:25px;
  color: #4d4d4d;
  border-radius: 100%;
  padding: 2rem;
  text-decoration: none;
}

#progress{
  background-color:#77c2be;
  width: 150px;
  height: 150px;
  font-family: 'Indie Flower';
  font-size:25px;
  text-align:center;
  color: #4d4d4d;
  border-radius: 100%;
  padding: 2rem;
  text-decoration: none;
}
a#progress:hover{
  opacity:100%;
  box-shadow:5px 5px 2px grey;
  text-decoration:underline;
}
a#friends:hover{
  opacity:100%;
  box-shadow:5px 5px 2px grey;
  text-decoration:underline;
}
a#resources:hover{
  opacity:100%;
  box-shadow:5px 5px 2px grey;
  text-decoration:underline;
}
a#explore:hover{
  opacity:100%;
  box-shadow:5px 5px 2px grey;
  text-decoration:underline;
}
a#week:hover{
  opacity:100%;
  box-shadow:5px 5px 2px grey;
  text-decoration:underline;
} */
