nav {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}

body{
  /* background-color: #f1f1f1 */
  background-image: linear-gradient(to right, #ffafbd,#ffc3a0);
}

nav > a{
  background-color: var(--accent-color);
  margin: 1rem;
  padding: 2rem;
  text-decoration: none;
  opacity:.7;
}

label{
  width:100%;
  text-align:center;
  font-size:40px;
  font-family:'Indie Flower';
  color:#4d4d4d
}

#week{
  background-color: #e17274;
  width: 150px;
  height: 150px;
  font-family: 'Indie Flower';
  font-size: 25px;
  color: #4d4d4d;
  border-radius: 100%;
  padding: 2rem;
  text-decoration: none;
  text-align:center;
}

#friends{
  background-color: #e17274;
  width: 150px;
  height: 150px;
  font-family: 'Indie Flower';
  text-align:center;
  font-size: 25px;
  color: #4d4d4d;
  border-radius: 100%;
  padding: 2rem;
  text-decoration: none;

}

#explore{
  background-color:#77c2be;
  width: 150px;
  height: 150px;
  font-family: 'Indie Flower';
  text-align:center;
  font-size:25px;
  color: #4d4d4d;
  border-radius: 100%;
  padding: 2rem;
  text-decoration: none;
}

#resources{
  background-color:#e17274;
  width: 150px;
  height: 150px;
  font-family: 'Indie Flower';
  text-align:center;
  font-size:25px;
  color: #4d4d4d;
  border-radius: 100%;
  padding: 2rem;
  text-decoration: none;
}

#progress{
  background-color:#77c2be;
  width: 150px;
  height: 150px;
  font-family: 'Indie Flower';
  font-size:25px;
  text-align:center;
  color: #4d4d4d;
  border-radius: 100%;
  padding: 2rem;
  text-decoration: none;
}
a#progress:hover{
  opacity:100%;
  box-shadow:5px 5px 2px grey;
  text-decoration:underline;
}
a#friends:hover{
  opacity:100%;
  box-shadow:5px 5px 2px grey;
  text-decoration:underline;
}
a#resources:hover{
  opacity:100%;
  box-shadow:5px 5px 2px grey;
  text-decoration:underline;
}
a#explore:hover{
  opacity:100%;
  box-shadow:5px 5px 2px grey;
  text-decoration:underline;
}
a#week:hover{
  opacity:100%;
  box-shadow:5px 5px 2px grey;
  text-decoration:underline;
}
