*{
  box-sizing:border-box;
}

button{
  font-size: 20px;
  border:none;
  background-color:#77c2be;
  padding: 10px;
  margin-top:20px;
  margin-left:20px;
  margin-right:0px;
  text-align:center;
  display:inline-block;
  font-size:16px;
  font-family:'Indie Flower';
  opacity:.6;
}


button:hover, button:focus, button:active, button:visited, .active {
    text-decoration: underline;
    color:#000;
    opacity:1;
}
