main > a {
<<<<<<< HEAD
  display: block;
  background-color: pink;
  padding: 2rem;
  margin: 2rem;
}
=======
 display: block;
  background-color: pink; 
  padding: 2rem;
  margin: 2rem;
  border-radius: 25px
}

a:hover{
	background-color: lightblue;

}

b{
display: block;
  background-color: pink; 
  padding: 2rem;
  margin: 2rem;
  border-radius: 25px
}

b:hover{
	background-color: lightblue;

}
>>>>>>> 003c6bd428cb845ee5ea415edbf61ab18136f2c8
