:root {
  --accent-color: #01befe;
  --secondary-color: #e4c1f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  background-color: var(--accent-color);
  height: 3rem;
  width: 100%;
}

#menu-button {
  background-color: var(--secondary-color);
  height: 2.5rem;
  width: 2.5rem;
}
